<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    myTrolley
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/scanner">Scanner </a>
                    </li>
                    <li>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/ourproduct">Our Products</a></li>
                            <li><a href="/popularitem">Weekly Popular Items</a></li>
                            <li><a href="/healthyrecipe">Healthy Recipes</a></li>
                            <li><a href="/healthevent">Health Events</a></li>
                            <li><a href="/search">Search</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workout<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/workout">Workout Generator</a></li>
                            <li><a href="/workoutProgram">Workout Program</a></li>
                        </ul>
                    <li>
                    <li>
                        <a href="/help">Help</a>
                    </li>
                    {% if (session['logged_in'] and session['admin'] == 1) or (session['logged_in'] and session['admin'] == 2) %}
                        <li>
                        <a href="/admin">Admin</a>
                    </li>
                    {% endif %}
                    {% if session['logged_in'] %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{ session ['user_data']['username'] }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="/view">View Profile</a></li>
                            <li><a href="/modify">Edit Info</a></li>
                            <li><a href="/credit">Credit Point System</a></li>
                            <li><a href="/reward">Reward System</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>

                    {% else %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


</body>
</html>
