{% extends 'layout.html' %}
{% block title %}Admin{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}


    <div class="row" align="center" style="width:95%">
        <div align="center" class="col-md-6">
            <p>Add new trolley into database</p>
            <div style="width:60%">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <li>{{ form[field_name].label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form class="form-inline" method="POST" action="/admin">
                    {{ render_field(form.trolleynumbers, class_="form-control") }}
                    <input type="submit" value="Add New" class="btn btn-info"/>
                </form>
            </div>
        </div>
        <div style="width: 50%" align="center" class="col-md-6">
            <table>
                <thead>
                    <tr>
                        <th>Total number of trolleys registered</th>
                        <th>Total number of trolleys faulty</th>
                        <th>Total number of trolleys misused</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ totnames }}</td>
                        <td>{{ totfaults }}</td>
                        <td>{{ totmisused }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="width: 100%" align="center">
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form class="form-inline" style="width: 50%" method="POST" action="/admin">
            {{ render_field(form.trolleyid, class_="form-control") }}
            <input type="submit" value="Find Trolley" class="btn btn-info"/>
        </form>
        <table class="table table-bordered" style="width:95%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Fault</th>
                <th>Flag Count</th>
                <th>Location reported</th>
                <th>Additional comments</th>
            </tr>
            </thead>
            <tbody>
            {% for each in eachtrolley %}
                <tr>
                    <td>{{ each.get_name() }}</td>
                    <td>{{ each.get_fault() }}</td>
                    <td>{{ each.get_count() }}</td>
                    <td>{{ each.get_location() }}</td>
                    <td>{{ each.get_comments() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div class="row" style="width: 100%" align="center">
        <table class="table table-bordered" style="width:95%">
        <caption>Attention needed!  Keyword: [DW]: Damaged Wheel, [DL]: Damaged Lock, [DQ]: Damaged QR</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Fault</th>
                <th>Flag Count</th>
                <th>Location reported</th>
                <th>Additional comments</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for att in attention %}
                <tr>
                    <td>{{ att.get_name() }}</td>
                    <td>{{ att.get_fault() }}</td>
                    <td>{{ att.get_count() }}</td>
                    <td>{{ att.get_location() }}</td>
                    <td>{{ att.get_comments() }}</td>
                    <td><form class="form-inline" style="width: 50%" method="POST" action="/admin">
                        <input name="fix" type="submit" value="Fixed" class="btn btn-success" onclick="return confirm('Are you sure this trolley is fixed?');"></form></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}