{% block title %}Admin - Dashboard{% endblock %}

{% block head %}

    <!-- Bootstrap Core CSS -->
    <
    <link href="../static/css/adminpanel/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="../static/css/adminpanel/metisMenu.min.css">

    <!-- Timeline CSS -->
    <link rel="stylesheet" href="../static/css/adminpanel/timeline.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/adminpanel/startmin.css">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="../static/css/adminpanel/morris.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <script src="../static/js/adminpanel/Chart.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}

    <div id="wrapper">

        <!-- Navigation -->
        <div class="container-fluid">
            {% include 'includes/_anavbar.html' %}
        </div>

        {% if (session['logged_in'] and session['admin'] == 1) or (session['logged_in'] and session['admin'] == 2) %}
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ totnames }}</div>
                                        <div>Total trolleys</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-cogs fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ totnames - totfaults }}</div>
                                        <div>Trolleys operational</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-clipboard fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ totmisused }}</div>
                                        <div>Trolley reports!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-wrench fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ totfaults }}</div>
                                        <div>Trolleys need repair!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Trolley Chart
                                <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- /.panel-heading -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Notifications
                                </a>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="col-lg-4">
                        <!-- /.panel-heading -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Registered users
                                </a>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.col-lg-4 -->

                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->
            </div>
            <!-- /#wrapper -->
            </div>
        {% else %}
            <div id="page-wrapper">
                <div class="row">
                    <br>
                    <br>
                    <p>You do not have permission to view this page or perform this action</p>
                </div>
            </div>
        {% endif %}


    </div>

    <!-- jQuery -->
    <script src="../static/js/adminpanel/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/adminpanel/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/js/adminpanel/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/js/adminpanel/raphael.min.js"></script>
    <script src="../static/js/adminpanel/morris.min.js"></script>
    <script src="../static/js/adminpanel/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/adminpanel/startmin.js"></script>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');

        var data = {
            labels: ["Operational ", "Faulty"],
            datasets: [
                {
                    fill: true,
                    backgroundColor: [
                        '#5cb85c',
                        '#d9534f'],
                    data: {{ values }},
// Notice the borderColor
                    borderColor: ['white', 'white'],
                    borderWidth: [2, 2]
                }
            ]
        };

        var options = {
            legend: {
                display: true,
                position: 'right'
            },
        };

        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                layout: {
                    padding: {
                        left: 10,
                        right: 0,
                        top: 0,
                        bottom: 0
                    }
                }
            }
        });
    </script>

{% endblock %}