{% extends 'layout.html' %}
{% block title %}Credit Point System{% endblock %}

{% block head %}
    <style>

    .content {

    }

    </style>

{% endblock %}

{% block body %}
     {% from "includes/_formhelper.html" import render_field %}

     <section class="content">

     <h3 align="center">Rules</h3>
     <table style="width:50%" align="center" id="t01">
         <tr>
         <th>Good behaviour</th>
         <th>Points</th>
         </tr>
         <tr>
             <td>Each trolley return completed</td>
             <td>+1</td>
         </tr>
         <tr>
             <td>Damaged trolley reported</td>
             <td>+2</td>
         </tr>
         <tr>
             <td>Lost trolley reported</td>
             <td>+3</td>
         </tr>
         <tr>
             <td>Share your return trolley to Facebook(first time)</td>
             <td>+1</td>
         </tr>
     </table>

     <table style="width:50%" align="center" id="t01">
         <tr>
             <th>Illegal behaviour</th>
             <th>Points</th>
         </tr>
         <tr>
             <td>Trolley not locked properly</td>
             <td>-50</td>
         </tr>
         <tr>
             <td>Illegal parked trolley</td>
             <td>-50</td>
         </tr>
         <tr>
             <td>Unauthorised lock on the trolley</td>
             <td>Reduced to 0</td>
         </tr>
         <tr>
             <td>Trolley damaged</td>
             <td>Reduced to 0</td>
         </tr>
     </table>
     </section>

    <div class="paragraph">
        <p align="center"> About Credit Points</p>
    <br>
        <p align="center">1.Trolley credits are used to maintain and encourage good behaviour among trolley users.</p>
        <p align="center">2.After signing up with our Trolley app, you are rewarded with 100 Trolley credits.</p>
        <p align="center">3.If there is any problem with your Trolley credits, please contact us via our <a href="/help"></a> page.</p>
    </div>
    <button id="button"> Click here to exchange for rewards </button><br>

{% endblock %}


    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>
