{% extends 'layout.html' %}
{% block title %}Scanner{% endblock %}

{% block head %}
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            }
        }

    </script>
    <style>
        #contactusheader {
            padding-left: 30px;
            padding-bottom: 50px;
            font-size: 60px;
            font-weight: bold;
            border-bottom-color: black;
            border-bottom-style: solid;
        }

        .contactussection {
            padding: 50px 50px 50px 50px;
            border-color: black;
            border-style: solid;
            background-color: white;
        }

        .content {
            background-color: #E6E6FA;
        }

        #feedback {
            height: 250px;
        }

        .contactusinfo {
            background-color: lightgrey;
            border-color: black;
            border-style: solid;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}

    <section class="content">
        <div class="container">

            <div class="contactusheader">
                <p id="contactusheader">Contact Us</p>
            </div>

            <div class="col-sm-3">

            </div>

            <div class="col-sm-6">
                <div class="contactusinfo">
                    <p>Your feedback is important to us. Please enter your message below and
                        we will be in touch with you within 5 to 7 working days. For the list of commonly asked
                        questions,
                        please click <a href="faq"> here </a>. For urgent assistance, please call our hotline at
                        1234 5678.
                    </p>
                </div>
                <div class="contactussection">
                    <form action="" method="POST">
                        <div id="name" class="form-group">
                            {{ render_field(form.name, class_="form-control") }}
                        </div>

                        <div id="user_email" class="form-group">
                            {{ render_field(form.user_email, class_="form-control") }}
                        </div>

                        <div id="feedback" class="form-group">
                            {{ render_field(form.feedback, class_="form-control") }}
                        </div>

                        <input type="submit" value="submit" class="btn btn-default"/>
                    </form>
                </div>
            </div>

            <div class="col-sm-3">

            </div>

        </div>
    </section>
{% endblock %}
<!-- Header -->


<!-- Intro Section -->

<!-- Content 1 -->


<!-- Footer -->
<footer class="page-footer">

    <!-- Contact Us -->


    <!-- Copyright etc -->
    <div class="small-print">
        <div class="container">
            <p>Copyright &copy; myTrolley.tk 2017</p>
        </div>
    </div>

</footer>

<!-- jQuery -->
<script src="../static/js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/js/jquery.easing.min.js"></script>

<!-- Custom Javascript -->
<script src="../static/js/custom.js"></script>

</body>

</html>
