{% extends 'layout.html' %}
{% block title %}Email Us{% endblock %}

{% block head %}
    <style>
        #contactusheader {
            padding-left: 30px;
            padding-bottom: 50px;
            font-size: 60px;
            font-weight: bold;
            border-bottom-color: black;
            border-bottom-style: solid;
        }

        .contactussection {
            padding: 50px 50px 50px 50px;
            border-color: black;
            border-style: solid;
            background-color: white;
        }

        .content {
            background-color: #E6E6FA;
        }

        #feedback {
            height: 250px;
        }

        .contactusinfo {
            background-color: lightgrey;
            border-color: black;
            border-style: solid;
            padding: 10px;
        }
    </style>


    <script>

    </script>
{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}

    <section class="content">
        <div class="container">

            <div class="contactusheader">
                <p id="contactusheader">Contact Us</p>
            </div>

            <div class="col-sm-3">

            </div>

            <div class="col-sm-6">
                <div class="contactusinfo">
                    <p>Your feedback is important to us. Please enter your message below and
                        we will be in touch with you within 5 to 7 working days. For the list of commonly asked
                        questions,
                        please click <a href="faq"> here </a>. For urgent assistance, please call our hotline at
                        1234 5678.
                    </p>
                </div>
                <div class="contactussection">
                    <form id="" action="" method="POST">
                        <div id="" class="form-group">
                            {{ render_field(form.name, class_="form-control") }}
                        </div>

                        <div id="" class="form-group">
                            {{ render_field(form.user_email, class_="form-control") }}
                        </div>

                        <div id="" class="form-group">
                            {{ render_field(form.feedback, class_="form-control") }}
                        </div>

                        <input type="submit" value="submit" class="btn btn-default"/>
                    </form>
                </div>
            </div>

            <div class="col-sm-3">

            </div>

        </div>
    </section>
{% endblock %}
