<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>myTrolley</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");
    
            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }

    </script>
    <style>
        #contactusheader{
            padding-left: 30px;
            padding-bottom: 50px;
            font-size: 60px;
            font-weight: bold;
            border-bottom-color: black;
            border-bottom-style: solid;
        }

        .contactussection{
            padding: 50px 50px 50px 50px;
            border-color: black;
            border-style: solid;
            background-color: white;
        }

        .content{
            background-color: #E6E6FA;
        }

        #feedback{
             height: 250px;
        }

        .contactusinfo{
            background-color: lightgrey;
            border-color: black;
            border-style: solid;
            padding: 10px;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <div class="container-fluid">
        {% include 'includes/_navbar.html' %}
        {% block body %}{% endblock %}
    </div>

	<!-- Header -->
   

	<!-- Intro Section -->
 
    <!-- Content 1 -->

    <section class="content">
        <div class="container">

                <div class="contactusheader">
                    <p id="contactusheader">Contact Us</p>
                </div>

                    <div class="col-sm-3">

                    </div>

                    <div class="col-sm-6">
                        <div class="contactusinfo">
                        <p>Your feedback is important to us. Please enter your message below and
                            we will be in touch with you within 5 to 7 working days. For the list of commonly asked questions,
                            please click <a href="faq"> here </a>. For urgent assistance, please call our hotline at 1234 5678.
                        </p>
                        </div>
                        <div class="contactussection">
                            <form action="" method="post" enctype="text/plain"
                                  data-toggle="validator">
                                <fieldset>
                                    <p>
                                        <label for="name">Name:</label>
                                        <input type="text" name="name" id="name" placeholder="Enter your name" required
                                        data-error="Please enter your name">
                                    </p>

                                    <p>
                                        <label for="email">Email:</label>
                                        <input type="text" name="email" id="email" placeholder="Enter your email" required
                                        data-error="That's not a valid email address">
                                    </p>

                                    <p>
                                        <label for="feedback">Feedback:</label>
                                        <input type="text" name="feedback" id="feedback" placeholder="Enter your feedback here" required
                                        data-error="Please enter your feedback">
                                    </p>
                                    <input type="submit" value="Submit">
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-3">

                    </div>

                </div>
        </div>
    </section>

	
    
	<!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; myTrolley.tk 2017</p>
        	</div>
        </div>
        
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

</body>

</html>
