{% extends 'layout.html' %}
{% block title %}Forum{% endblock %}

{% block head %}
    <style>
        .commentboxsection {
            border-style: none !important;
        }

    </style>
    <script>



    </script>
{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}


    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6">
                    <div class="commentheader">
                        <h1>Comment Section</h1>
                    </div>
                </div>
                <div class="col-sm-3">

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form class="commentboxsection" action="" method="POST">
                        <div id="user_comment" class="form-group">
                            {{ render_field(form.comment, row=7, class_="form-control") }}
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div id="commentsection">

                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="static/js/help/forum.js"></script>

{% endblock %}