{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <!-- Page Content -->
    <section class="content">
        <div class="container">
            <div class="row">
                    <!-- Jumbotron Header -->
                    <header class="jumbotron my-4" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg);">
                        <h1 class="display-3">Healthy Recipes</h1>
                        <p class="lead">Try out these healthy recipes with your freshly bought ingredients!</p>
                    </header>

                    <!-- Page Features -->
                    <div class="row text-center">

                        <div class="col-lg-12 col-md-12 mb-12">
                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/applepearorangejuice.jpg" style="height:200px; width:170px;"/>
                                    <h3>Orange, Apple & Pear Juice</h3>
                                    <div class="blog-content">

                                    </div>
                                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail"><span class="glyphicon glyphicon-share-alt"></span> Try it Now</a>
                                </div>
                                <div class="modal fade" id="blog-detail" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <img src="../static/images/HealthyRecipe/applepearorangejuice.jpg" style="height:220px; width:190px;"/>
                                                <h3>Orange, Apple & Pear Juice</h3>
                                                <p>Serves: 1-2 | Cooking Time: 5 mins</p>

                                                    <h3>Ingredients:</h3>
                                                    <ul style="text-align:left;">
                                                        <li>2 oranges</li>
                                                        <li>1 red apple</li>
                                                        <li>1 pear</li>
                                                        <li>ice cubes (optional)</li>
                                                        <li>1 teaspoon clear honey (optional)</li>
                                                    </ul>


                                                    <h3>Method:</h3>
                                                    <ol style="text-align:left;">
                                                        <li>Peel the oranges and divide the flesh into segments.</li>
                                                        <li>Chop the apple and pear into even-sized pieces.</li>
                                                        <li>Juice all the fruit in a blender.</li>
                                                        <li>Pour the juice into a glass over ice.</li>
                                                        <li>If using, stir in the honey and serve immediately.</li>
                                                    </ol>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/bananapudding.jpg" style="height:200px; width:170px;"/>
                                    <h3>Creamy Banana Pudding</h3>

                                    <div class="blog-content">

                                    </div>
                                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail2"><span class="glyphicon glyphicon-share-alt"></span> Try it Now</a>
                                </div>
                                <div class="modal fade" id="blog-detail2" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <img src="../static/images/HealthyRecipe/bananapudding.jpg" style="height:220px; width:190px;"/>
                                                <h3>Creamy Banana Pudding</h3>
                                                <p>Serves: 1-2 | Cooking Time: 13 mins</p>

                                                    <h3>Ingredients:</h3>
                                                    <ul style="text-align:left;">
                                                        <li>2/3 cup banana, mashed (160g)</li>
                                                        <li>Icing sugar - 2 tbsps</li>
                                                        <li>1/4 tsp salt</li>
                                                        <li>1 tsp pure vanilla extract</li>
                                                        <li>3-4 tbsp coconut butter (45-60g)</li>
                                                        <li>1 package tofu</li>
                                                        <li>2-4 tbsp sugar of choice </li>
                                                    </ul>

                                                    <h3>Method:</h3>
                                                    <ol style="text-align:left;">
                                                        <li>Make sure the coconut butter is melted before you begin.</li>
                                                        <li>Combine all ingredients in a blender or food processor, and blend until completely smooth. Makes about 2 cups.</li>
                                                        <li>Omit the tofu, and decrease the coconut butter to 2 tbsp.</li>
                                                        <li>Decrease the salt to 1/8 tsp.</li>
                                                        <li>Add 1 cup cashews that have been soaked in water 4-6 hours and drained fully.</li>
                                                        <li>Vanilla stays the same, and sweeten as desired.</li>
                                                        <li>Add milk of choice if a thinner pudding is desired.</li>
                                                    </ol>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/tomatocucumberlettucesalad.jpg" style="height:200px; width:170px;"/>
                                    <h3>Lettuce, Cucumber & Tomato Salad</h3>
                                    <div class="blog-content">

                                    </div>
                                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail3"><span class="glyphicon glyphicon-share-alt"></span> Try it Now</a>
                                </div>
                                <div class="modal fade" id="blog-detail3" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <img src="../static/images/HealthyRecipe/tomatocucumberlettucesalad.jpg" style="height:220px; width:190px;"/>
                                                <h3>Lettuce, Cucumber & Tomato Salad</h3>
                                                <p>Serves: 2 | Cooking Time: 10 mins</p>

                                                    <h3>Ingredients:</h3>
                                                    <ul style="text-align:left;">
                                                        <li>2 tomatoes</li>
                                                        <li>1 lettuce</li>
                                                        <li>2 cucumbers</li>
                                                        <li>1 green onion</li>
                                                        <li>1/4 cup	Classic Vinaigrette</li>
                                                        <li>1 pinch	salt (optional)</li>
                                                        <li>1 pinch ground pepper to taste (optional)</li>
                                                    </ul>

                                                <p>
                                                    <h3>Method:</h3>
                                                    <ol style="text-align:left;">
                                                        <li>Cut the tomatoes into segments and place them in a salad bowl.</li>
                                                        <li>Add the lettuce leaves.</li>
                                                        <li>Thinly slice the cucumbers and green onion tops.</li>
                                                        <li>Then add the cucumbers and green onion tops to the bowl.</li>
                                                        <li>Pour in the Classic Vinaigrette. Add salt and pepper to taste.</li>
                                                        <li>Toss and serve immediately.</li>
                                                    </ol>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/carrotapplesalad.jpg" style="height:200px; width:170px;"/>
                                    <h3>Crunchy Carrot & Apple Salad</h3>
                                    <div class="blog-content">

                                    </div>
                                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail4"><span class="glyphicon glyphicon-share-alt"></span> Try it Now</a>
                                </div>
                                <div class="modal fade" id="blog-detail4" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <img src="../static/images/HealthyRecipe/carrotapplesalad.jpg" style="height:220px; width:190px;"/>
                                                <h3>Crunchy Carrot & Apple Salad</h3>
                                                <p>Serves: 3 | Cooking Time: 15 mins</p>

                                                    <h3>Ingredients:</h3>
                                                    <ul style="text-align:left;">
                                                        <li>2 tablespoons honey</li>
                                                        <li>2 tablespoons walnut oil</li>
                                                        <li>2 tablespoons fresh lemon juice</li>
                                                        <li>1 apple</li>
                                                        <li>2 carrots</li>
                                                        <li>1/2 cup walnut pieces</li>
                                                    </ul>


                                                    <h3>Method:</h3>
                                                    <ol style="text-align:left;">
                                                        <li>Core the apple and thinly sliced it.</li>
                                                        <li>Peel the carrots and cut into coins.</li>
                                                        <li>Toasted the walnuts for 5 mins.</li>
                                                        <li>In large bowl, whisk honey, oil and lemon juice.</li>
                                                        <li>Toss apple and carrots with dressing.</li>
                                                        <li>Sprinkle with walnuts into the salad bowl and serve immediately.</li>
                                                    </ol>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- /.row -->


                </div>
            </div>
        </section>
                <!-- /.container -->


                <!-- jQuery -->
                <script src="../static/js/jquery-1.11.3.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="../static/js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="../static/js/jquery.easing.min.js"></script>

                <!-- Custom Javascript -->
                <script src="../static/js/custom.js"></script>

{% endblock %}
