{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                    <!-- Jumbotron Header -->
                    <header class="jumbotron my-4" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg);">
                        <h1 class="display-3">Healthy Recipes</h1> #Main Recipe Page
                        <p class="lead">Try out these healthy recipes with your freshly bought ingredients!</p>
                    </header>

                    <!-- Page Features -->
                    <div class="row text-center">

                        <div class="col-lg-12 col-md-12 mb-12">
                        {% for reci in recipe_list %}
                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/{{ reci.get_image() }}" style="height:200px; width:170px;"/>
                                    <h3>{{ reci.get_recipeName() }}</h3>

                                    <a href={{ "/viewrecipe/" + reci.get_recipeid() }} class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>Read More</a>
                                </div>
                            </div>
                        {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}

                <!-- jQuery -->
                <script src="../static/js/jquery-1.11.3.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="../static/js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="../static/js/jquery.easing.min.js"></script>

                <!-- Custom Javascript -->
                <script src="../static/js/custom.js"></script>


