{% extends 'layout.html' %}
{% block title %}Health Events{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <!-- Jumbotron Header -->
                <header class="jumbotron my-4" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg);">
                    <h1 class="display-3">Health Events</h1>
                    <p>Take part in these health events that can help you focus on wellness and good health! </p>

                </header>

                <!-- Page Features -->
                <div class="row text-center">

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="../static/images/HealthEvent/eventA.jpg" alt="Simei: Therapeutic Yoga " style="width:100%;">
                            <div class="card-body">
                                <h4 class="card-title">Simei: Therapeutic Yoga</h4>
                                <p class="card-text">Jan 2 - Feb 27 2018</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.eventbrite.sg/e/simei-therapeutic-yoga-9-sessions-jan-2-feb-27-tue-tickets-40839874163?aff=ehomecard" class="btn btn-primary">Find Out More!</a>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="../static/images/HealthEvent/eventB.png" alt="Yin Yoga@MacPherson" style="width:100%;">
                            <div class="card-body">
                                <h4 class="card-title">Yin Yoga @ MacPherson</h4>
                                <p class="card-text">Jan 9 - Mar 27 2018</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.eventbrite.sg/e/yin-yogamacpherson-tue-jan-9-mar-27-tickets-39949284385?aff=ehomecard" class="btn btn-primary">Find Out More!</a>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="../static/images/HealthEvent/eventC.png" alt="Organic Family Movement" style="width:100%;">
                            <div class="card-body">
                                <h4 class="card-title">Organic Family Movement</h4>
                                <p class="card-text">20 Jan 2018</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.eventbrite.ca/e/organic-family-movement-tickets-38927261487?aff=es2" class="btn btn-primary">Find Out More!</a>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="../static/images/HealthEvent/eventD.jpg" alt="Novena: Mindfulness Foundation Course" style="width:100%;">
                            <div class="card-body">
                                <h4 class="card-title">Mindfulness Foundation Course</h4>
                                <p class="card-text">Jan 31 - Feb 21 2018</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.eventbrite.sg/e/novena-mindfulness-foundation-course-jan-31-feb-21-wed-tickets-39215472534?aff=es2" class="btn btn-primary">Find Out More!</a>
                            </div>
                        </div>
                        <br />
                    </div>

                </div>
                <!-- /.row -->

            </div>
          </div>
        </section>
{% endblock %}

            <!-- jQuery -->
            <script src="../static/js/jquery-1.11.3.min.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="../static/js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="../static/js/jquery.easing.min.js"></script>

            <!-- Custom Javascript -->
            <script src="../static/js/custom.js"></script>

