{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                    <!-- Jumbotron Header -->
                    <header class="jumbotron my-4" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg);">
                        <h1 class="display-3">Healthy Recipes</h1>
                        <p class="lead">Try out these healthy recipes with your freshly bought ingredients!</p>
                    </header>

                    <!-- Page Features -->
                    <div class="row text-center">

                        <div class="col-lg-12 col-md-12 mb-12">
                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/applepearorangejuice.jpg" style="height:200px; width:170px;"/>
                                    <h3>Orange, Apple & Pear Juice</h3>

                                    <a href="/recipe_orange_apple_pear_juice" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/bananapudding.jpg" style="height:200px; width:170px;"/>
                                    <h3>Homemade Creamy Banana Pudding</h3>

                                    <a href="" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/tomatocucumberlettucesalad.jpg" style="height:200px; width:170px;"/>
                                    <h3>Lettuce, Cucumber & Tomato Salad</h3>

                                    <a href="" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single-blog">
                                    <img src="../static/images/HealthyRecipe/carrotapplesalad.jpg" style="height:200px; width:170px;"/>
                                    <h3>Crunchy Carrot & Apple Salad</h3>

                                    <a href="" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>Read More</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}

                <!-- jQuery -->
                <script src="../static/js/jquery-1.11.3.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="../static/js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="../static/js/jquery.easing.min.js"></script>

                <!-- Custom Javascript -->
                <script src="../static/js/custom.js"></script>


