{% extends 'layout.html' %}
{#{% block title %}Help{% endblock %}#}



{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">


    {#    <section class="content">#}
    {#        <div class="container helpcontent">#}
    {#            <div class="row">#}
    {#                <div class="col-sm-12" id="view">Help</div>#}
    {#                <div class="col-sm-4">#}
    {#                    <div class="helpboxes">#}
    {#                        <h3>Email Us</h3>#}
    {#                        <p>Having issues? Send us an email! We'll reply as soon as possible</p>#}
    {#                        <div>#}
    {#                            <a href="email" class="btn btn-info">Go here!</a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="col-sm-4">#}
    {#                    <div class="helpboxes">#}
    {#                        <h3>Feedback</h3>#}
    {#                        <p>Want to say something about our website? Comment here!</p>#}
    {#                        <a href="forum" class="btn btn-info">Go here!</a>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="col-sm-4">#}
    {#                    <div class="helpboxes">#}
    {#                        <h3>FAQ</h3>#}
    {#                        <p>Here are the answers to some frequently asked questions</p>#}
    {#                        <a href="faq" class="btn btn-info">Go here!</a>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    <div id="container">
        <div class="container">
            <div class="row">
                <!-- Page Content -->
                <div class="container">

                    <!-- Page Heading/Breadcrumbs -->
                    <h1 class="mt-4 mb-3" id="helptitle">Help Section

                    </h1>

                    <img class="img-fluid rounded mb-4" id="helpbanner" src="static/images/helpbanner.jpg" alt="">

                    <!-- Marketing Icons Section -->
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100" id="cardheaders">
                                <h4 class="card-header">Email Developers</h4>
                                <div class="card-body">
                                    <p class="card-text" id="cardtext">Having issues with the website? Send us an email!
                                        We will reply as soon as possible.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="email" class="btn btn-primary">Email Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100" id="cardheaders">
                                <h4 class="card-header">Feedback</h4>
                                <div class="card-body">
                                    <p class="card-text" id="cardtext">Want to say something about our website? Leave us
                                        a comment at our
                                        comment section!</p>
                                </div>
                                <div class="card-footer">
                                    <a href="forum" class="btn btn-primary">Comment here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100" id="cardheaders">
                                <h4 class="card-header">General Help & FAQ</h4>
                                <div class="card-body">
                                    <p class="card-text" id="cardtext">Here are some information regarding the website
                                        and answers to some frequently asked questions.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="faq" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->
            </div>
            <!--
                            <div class="col-sm-4">
                                <div class="card effect__hover" id="cardblk">
                                    <div class="card__front">
                                    <span class="card__text" id="cardtxtFront">
                                        <h3>Email Us</h3>
                                    </span>
                                    </div>
                                    <div class="card__back">
                                    <span class="card__text" id="cardtxtBack">
                                         <p>Having issues? Send us an email! We'll reply as soon as possible</p>
                                        <a href="email">Email here!</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card effect__hover" id="cardblk">
                                    <div class="card__front">
                                    <span class="card__text" id="cardtxtFront">
                                        <h3>Feedback</h3>
                                    </span>
                                    </div>
                                    <div class="card__back">
                                    <span class="card__text" id="cardtxtBack">
                                        <p>Want to say something about our website?</p>
                                        <a href="forum">Comment here!</a>
                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="card effect__hover" id="cardblk">
                                    <div class="card__front">
                                    <span class="card__text" id="cardtxtFront">
                                        <h3>FAQ</h3>
                                    </span>
                                    </div>
                                    <div class="card__back">
                                    <span class="card__text" id="cardtxtBack">
                                        <p>Here are the answers to some frequently asked questions</p>
                                        <a href="faq">Go here!</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            -->
            <style>
                #container {
                    background-color: #E6E6FA;
                }

                .col-sm-4 {
                    border-style: none !important;
                }

                #cardtext {
                    padding: 25px;
                }

                #helptitle {
                    padding-top: 25px;
                    padding-bottom: 25px;

                }

                #cardheaders {
                    margin-top: 30px;
                }

                .card {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    transition: 0.3s;
                    border-radius: 5px;
                }

                .card:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

                }

                #helpbanner {
                    border-radius: 5px;
                }
            </style>

{% endblock %}