{% extends 'layout.html' %}
{% block title %}Help{% endblock %}

{% block head %}
    <style>
        .helpboxes {
            text-align: center;
            padding: 50px 50px 50px 50px;
            border-color: grey;
            border-style: solid;
            border-width: 2px;
        }

        .helpcontent {
            border-color: grey;
            border-style: solid;
        }

        .content{
            background-color: #E6E6FA;
        }

        .col-sm-4{
            border-style: none !important;
        }
    </style>
{% endblock %}

{% block body %}

	<!-- Header -->
   

	<!-- Intro Section -->
 
    <!-- Content 1 -->
<!--
    <section class="content">
        <div class="container helpcontent">
            <div class="row">                
                <div class="col-sm-3">
                    <div class="helpboxes">
                        <h3>Email Us</h3>
                        <p>Having issues? Send us an email! We'll reply as soon as possible</p>
                        <a href="email" class="btn btn-info">Go here!</a>
                    </div>
                </div>
                    
                <div class="col-sm-3">
                    <div class="helpboxes">
                        <h3>Feedback</h3>
                        <p>Want to say something about our website? Comment here!</p>
                        <a href="feedback" class="btn btn-info">Go here!</a>
                    </div>
                </div>
                    
                <div class="col-sm-3">
                    <div class="helpboxes">
                        <h3>FAQ</h3>
                        <p>Here are the answers to some frequently asked questions</p>
                        <a href="faq" class="btn btn-info">Go here!</a>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="helpboxes">
                        <h3>General Enquiry</h3>
                        <p>Guidelines and step by step instructions</p>
                        <a href="generalhelp" class="btn btn-info">Go here!</a>
                    </div>
                </div>
                    
            </div>
        </div>
    </section>
    -->
    <section class="content">
        <div class="container helpcontent">
            <div class="row">
                <div class="col-sm-4">
                    <div class="helpboxes">
                        <h3>Email Us</h3>
                        <p>Having issues? Send us an email! We'll reply as soon as possible</p>
                        <a href="email" class="btn btn-info">Go here!</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="helpboxes">
                        <h3>Feedback</h3>
                        <p>Want to say something about our website? Comment here!</p>
                        <a href="forum" class="btn btn-info">Go here!</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="helpboxes">
                        <h3>FAQ</h3>
                        <p>Here are the answers to some frequently asked questions</p>
                        <a href="faq" class="btn btn-info">Go here!</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}