<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>myTrolley</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- Navigation -->
    <div class="container-fluid">
        {% include 'includes/_navbar.html' %}
        {% block body %}{% endblock %}
    </div>

    <!-- Header -->
    <header style="background-image:url('../static/images/trolley.jpg')">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="color:white; background-color:black; display:inline;">Easily Accessible Trolley</h1>
                <h3 style="color:white;background-color:black;">Let us make a pleasant environment for both the customers and staff at NTUC.</h3>
                <a href="scanner.html" class="btn btn-primary btn-lg">Scan now</a>
            </div>
        </div>
    </header>

    <!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading">About Us</h2>
                    <p class="text-light">The long-standing issue that has been bugging NTUC is customers misusing the trolleys and this needs to be addressed immediately. After countless research and findings about the situation, our team created myTrolley app to specifically target this problem. It aims to provide convenience, making the trolleys more accessible to the NTUC customers, as well as to discourage NTUC customers from wheeling trolleys away from the premises.</p>
                </div>
            </div>
        </div>
    </section>

<!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="../static/images/misplaced_trolley.jpg" alt="misplaced trolley">
                </div>
                <div class="col-sm-6">
                    <h2 class="section-header">Abandoned Trolleys</h2>
                    <p class="lead text-muted">NTUC has lost about 1,000 trolleys annually in the past three years. It spends an estimated $150,000 on repairing, replacing and retrieving trolleys each year.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Content 2 -->
    <section class="content content-2" style="background-color:yellowgreen;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-header">The $1 deposit</h2>
                    <p class="lead text-light">The current coin system of requiring customers to deposit $1 serves as a deterrent to trolley theft. Customers find it a hassle to search for new coins to unlock the trolley when shopping in the NTUC supermarket.</p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="../static/images/NTUC_Trolley_ Abuse.jpg" alt="abuse">
                </div>

            </div>
        </div>
    </section>

    <!-- Promos -->
    <div class="container-fluid">
        <div class="row promo">
            <a href="/credit">
                <div class="col-md-3 promo-item item-1" style="background-image:url('../static/images/credit.jpg')">
                    <h3 style="color:white;">
                        Credit point system
					</h3>
                </div>
            </a>
            <a href="/scanner">
                <div class="col-md-3 promo-item item-2">
                    <h3 style="color:white;">
                        Scanner
					</h3>
                </div>
            </a>

            <a href="/ourproduct">
                <div class="col-md-3 promo-item item-3">
                    <h3 style="color:white;">
                        Products
					</h3>
                </div>
            </a>

            <a href="/help">
                <div class="col-md-3 promo-item item-4" style="background-image:url('../static/images/help.jpg')">
                    <h3 style="color:white;">
                        Help
					</h3>
                </div>
            </a>
        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Content 3 -->
    <section class="content content-3">
        <div class="container">
            <h2 class="section-header">
                <br>
                Facts</h2>
            <p class="lead text-muted">Do you know that NTUC outlets at Jurong Point mall, have the highest number of unreturned trolleys across all FairPrice outlets despite there being 17 trolley return bays at the mall? From the start of 2016, an average of 150 to 200 trolleys from Jurong Point have been taken out of the mall and cast aside every day.</p>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer">

        <!-- Contact Us -->
        <div class="contact">
            <div class="container">
                <h2 class="section-heading">Contact Us</h2>
                <p><span class="glyphicon glyphicon-earphone"></span>
                    <br>
                    61234567</p>
                <p><span class="glyphicon glyphicon-envelope"></span>
                    <br>
                    myTrolley@gmail.com</p>
            </div>
        </div>

        <!-- Copyright etc -->
        <div class="small-print">
            <div class="container">
                <p>Copyright &copy; myTrolley.tk 2017</p>
            </div>
        </div>

    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

</body>

</html>
