{% extends 'layout.html' %}
{% block title %}Login{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/help.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <style type="text/css">

        body {
            background-color: #E6E6FA;
        }

        h3 {
            font-family: 'FontAwesome';
        }

    </style>


<br>
<br>
<br>
<br>
<br>
    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

<div class="container">
    <div class="center">
        <h2 class="text-center">Login Page</h2>
    </div>
    <br>
    <div class="row">
        <form id="contactForm" method="POST" action="">

        <div class="form-group">
            <div class="form-row">
                <div id="username" class="form-group row-md-4">
                    {{ render_field(form.username, class_="form-control") }}
                </div>
                <div id="password" class="form-group row-md-4">
                    {{ render_field(form.password, class_="form-control") }}
                </div>
                <div class="form-group row-md-1">
                    <input type="login" value="Log In" class="btn btn-info"/>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>



	<!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; myTrolley.tk 2017</p>
        	</div>
        </div>
        
    </footer>

{% endblock %}


