{% extends 'layout.html' %}
{% block title %}Login{% endblock %}

{% block head %}


<br>
<br>
<br>
<br>
<br>
    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script>
     // Initialize Firebase
     var config = {
        apiKey: "AIzaSyBwPlW-TqggkUeA69NI0DBAAjoxeKGiN3s",
        authDomain: "smarttrolley-c024a.firebaseapp.com",
        databaseURL: "https://smarttrolley-c024a.firebaseio.com",
        projectId: "smarttrolley-c024a",
        storageBucket: "smarttrolley-c024a.appspot.com",
        messagingSenderId: "260911627861"
        };
     firebase.initializeApp(config);
    </script>

{% endblock %}


{% block body %}

<div class="container mtb" style="padding-bottom: 225px">
    <div class="center wow fadeInDown">
        <h2>Login</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h4>Login Here!</h4>
            <div class="hline"></div>
            </br>
            <form class="form-horizontal" action="" method="POST" >
                <div class="form-group">
                    {{ render_field(form.id, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.password, class_="form-control") }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-theme" value="Login">
                    <div class="hline-w"></div>
                    <p>Dont have an account?<a style="padding-left:10px;" href="/register">Sign Up Here</a></p>
                </div>
            </form>
        </div><!-- /col-lg-6 -->
    </div><!--/row -->
</div><!--/container -->

    
	<!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; myTrolley.tk 2017</p>
        	</div>
        </div>
        
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

{% endblock %}
