{% extends 'layout2.html' %}
{% block title %}Modify{% endblock %}

{% block head %}


{% endblock %}

         <div class="container">
             <h3>Edit Information</h3>
                     <div class="profile"><p align="left">Profile:
                         <div class="image">
                             <img src="../static/images/usericon.png" height="100px" width="100px"/>
                                 <div class="profile-picture">
                                     <a href="">Change profile picture</a><br><br>
                                         <div class="name"><br>
                                             <a href="">Change your username</a><br><br>
                                                 <div class="email">Email:{{render_field(form.email, class_="form-control")}}<br>
                                                     <a href="">Change email address</a><br><br>
                                                         <div class="password">Password:{{ render_field(form.password, class_="form-control") }}<br>
                                                             <a href="">Change password</a><br>
                                                         </div>
                                                 </div>
                                         </div>
                                 </div>
                         </div>
                     </div>
         </div>
    <br>
    <br>
    <br>
    <br>
    <br>
	<!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; myTrolley.tk 2017</p>
        	</div>
        </div>
        
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

</body>

</html>
