{% extends 'layout.html' %}
{% block title %}Popular Item{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <!-- Jumbotron Header -->
                <header class="jumbotron my-4" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg);">
                    <h1 class="display-3">Weekly Popular Items</h1>
                    <p>See the popular items of this week!</p>

                </header>
                <div class="row text-center">
                    <div class="col-lg-12" style="text-align:center;">
                            <p>As a customer of myTrolley, you play a generous part in keeping up our stocks of products.
                            <br>This is a weekly graphical presentation of the popular items that our customers have bought within the week.
                            <br>Browse through the Popular Items chart and we hope that you could purchase some popular items too!</p>
                        <br/>
                    </div>
                </div>                    

                <!-- Page Features -->

                <div align="center" class="col-md-12" >

                    <div id="graphItems">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                    ['Items', 'Number of times bought'],
                                    ['Apple', 8],
                                    ['Pear', 8],
                                    ['Orange', 4],
                                    ['Banana', 5],
                                    ['Tomato', 14],
                                    ['Carrot', 12],
                                    ['Cucumber', 9],
                                    ['Lettuce', 6],


                                ]);

                                var options = {
                                    title: 'Weekly Popular Items',
                                    is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                                chart.draw(data, options);
                            }
                        </script>

                        <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
                    </div>
                </div>

                <!-- /.row -->
            </div>
        </div>
        </section>
 {% endblock %}

            <!-- jQuery -->
            <script src="../static/js/jquery-1.11.3.min.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="../static/js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="../static/js/jquery.easing.min.js"></script>

            <!-- Custom Javascript -->
            <script src="../static/js/custom.js"></script>

