{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="../static/images/HealthyRecipe/tomatocucumberlettucesalad.jpg" class="img-responsive" style="height:350px; width:350px;"/>
                </div>
                <div class="col-sm-5">
                    
                    <h2 class="section-header">Lettuce, Cucumber & Tomato Salad</h2>
                    <br />
                    <p>Serves: 2 | Cooking Time: 10 mins</p>
                    <br />
                        <h3>Ingredients:</h3>
                        <ul style="text-align:left; padding-left:40px">
                            <li>2 tomatoes</li>
                            <li>1 lettuce</li>
                            <li>2 cucumbers</li>
                            <li>1 green onion</li>
                            <li>1/4 cup	Classic Vinaigrette</li>
                            <li>1 pinch	salt (optional)</li>
                            <li>1 pinch ground pepper to taste (optional)</li>
                        </ul>
                    <br />
                    <p>
                        <h3>Method:</h3>
                        <ol style="text-align:left;">
                            <li>Cut the tomatoes into segments and place them in a salad bowl.</li>
                            <li>Add the lettuce leaves.</li>
                            <li>Thinly slice the cucumbers and green onion tops.</li>
                            <li>Then add the cucumbers and green onion tops to the bowl.</li>
                            <li>Pour in the Classic Vinaigrette. Add salt and pepper to taste.</li>
                            <li>Toss and serve immediately.</li>
                        </ol>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section>
{% endblock %}
