{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../static/images/HealthyRecipe/bananapudding.jpg" style="height:220px; width:190px;"/>
                </div>
                <div class="col-sm-6">
                    
                    <h2 class="section-header">Creamy Banana Pudding</h2>
                    <br />
                    <p>Serves: 1-2 | Cooking Time: 13 mins</p>

                    <h3>Ingredients:</h3>
                    <ul style="text-align:left;">
                        <li>2/3 cup banana, mashed (160g)</li>
                        <li>Icing sugar - 2 tbsps</li>
                        <li>1/4 tsp salt</li>
                        <li>1 tsp pure vanilla extract</li>
                        <li>3-4 tbsp coconut butter (45-60g)</li>
                        <li>1 package tofu</li>
                        <li>2-4 tbsp sugar of choice </li>
                    </ul>

                    <h3>Method:</h3>
                    <ol style="text-align:left;">
                        <li>Make sure the coconut butter is melted before you begin.</li>
                        <li>Combine all ingredients in a blender or food processor, and blend until completely smooth. Makes about 2 cups.</li>
                        <li>Omit the tofu, and decrease the coconut butter to 2 tbsp.</li>
                        <li>Decrease the salt to 1/8 tsp.</li>
                        <li>Add 1 cup cashews that have been soaked in water 4-6 hours and drained fully.</li>
                        <li>Vanilla stays the same, and sweeten as desired.</li>
                        <li>Add milk of choice if a thinner pudding is desired.</li>
                    </ol>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
