{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                <div>
                    <ol class="breadcrumb">
                        <li><a href="/healthyrecipe">Healthy Recipes</a></li>
                        <li class="active">Crunchy Carrot & Apple Salad</li>
                    </ol>
                </div>
                </div>
                <!-- /.div -->

                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="../static/images/HealthyRecipe/carrotapplesalad.jpg" class="img-responsive" style="height:350px; width:350px;"/>
                </div>
                <div class="col-sm-6">
                    
                    <h2 class="section-header">Crunchy Carrot & Apple Salad</h2>
                    <br />
                    <p>Serves: 3 | Cooking Time: 15 mins</p>
                    <br />
                    <h3>Ingredients:</h3>
                    <p style="text-align:left;">
                        2 tablespoons honey, 2 tablespoons walnut oil, 2 tablespoons fresh lemon juice, 1 apple, 2 carrots, 1/2 cup walnut pieces
                    </p>
                    <br />
                    <h3>Method:</h3>
                    <p style="text-align:left;">
                        Firstly, core the apple and thinly sliced it. Peel the carrots and cut into coins and toast the walnuts for 5 mins. Secondly, in large bowl, whisk honey, oil and lemon juice.Toss apple and carrots with dressing. Lastly, sprinkle with walnuts into the salad bowl and serve immediately.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
