{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                <div>
                    <ol class="breadcrumb">
                        <li><a href="/healthyrecipe">Healthy Recipes</a></li>
                        <li class="active">Lettuce, Cucumber & Tomato Salad</li>
                    </ol>
                </div>
                </div>
                <!-- /.div -->

                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="../static/images/HealthyRecipe/tomatocucumberlettucesalad.jpg" class="img-responsive" style="height:350px; width:350px;"/>
                </div>
                <div class="col-sm-6">
                    
                    <h2 class="section-header">Lettuce, Cucumber & Tomato Salad</h2>
                    <br />
                    <p>Serves: 2 | Cooking Time: 10 mins</p>
                    <br />
                        <h3>Ingredients:</h3>
                        <p style="text-align:left;">
                            2 tomatoes, 1 lettuce, 2 cucumbers, 1 green onion, 1/4 cup Classic Vinaigrette, 1 pinch\tsalt (optional), 1 pinch ground pepper to taste (optional)
                        </p>
                    <br />
                    <p>
                        <h3>Method:</h3>
                        <p style="text-align:left;">
                            Firstly, cut the tomatoes into segments and place them in a salad bowl with the lettuce leaves. Secondly, thinly slice the cucumbers and green onion tops. Then add the cucumbers and green onion tops to the bowl. Pour in the Classic Vinaigrette. Add salt and pepper to taste. Lastly, toss and serve immediately.
                        </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section>
{% endblock %}
