{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="../static/images/HealthyRecipe/applepearorangejuice.jpg" class="img-responsive" style="height:350px; width:350px;" />
                </div>
                <div class="col-sm-5">
                    <h2 class="section-header">Orange, Apple & Pear Juice</h2>
                    <br />
                    <p>Serves: 1-2 | Cooking Time: 5 mins</p>
                    <br />
                    <h3>Ingredients:</h3>
                    <ul style="text-align:left; padding-left:40px;">
                        <li >2 oranges</li>
                        <li>1 red apple</li>
                        <li>1 pear</li>
                        <li>ice cubes (optional)</li>
                        <li>1 teaspoon clear honey (optional)</li>
                    </ul>
                    <br />
                    <h3>Method:</h3>
                    <ol style="text-align:left;">
                        <li>Peel the oranges and divide the flesh into segments.</li>
                        <li>Chop the apple and pear into even-sized pieces.</li>
                        <li>Juice all the fruit in a blender.</li>
                        <li>Pour the juice into a glass over ice.</li>
                        <li>If using, stir in the honey and serve immediately.</li>
                    </ol>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section>
{% endblock %}
