{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                <div>
                    <ol class="breadcrumb">
                        <li><a href="/healthyrecipe">Healthy Recipes</a></li>
                        <li class="active">Homemade Creamy Banana Pudding</li>
                    </ol>
                </div>
                </div>
                <!-- /.div -->

                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="../static/images/HealthyRecipe/bananapudding.jpg" class="img-responsive" style="height:350px; width:350px;"/>
                </div>
                <div class="col-sm-6">
                    
                    <h2 class="section-header">Homemade Creamy Banana Pudding</h2>
                    <br />
                    <p>Serves: 1-2 | Cooking Time: 13 mins</p>
                    <br />
                    <h3>Ingredients:</h3>
                    <p style="text-align:left;">
                        2/3 cup banana (160g), 2 tbsps icing sugar, 1/4 tsp salt , 1 tsp pure vanilla extract, 3-4 tbsp coconut butter (50g), 1 package tofu, 2-4 tbsp sugar
                    </p>
                    <br />
                    <h3>Method:</h3>
                    <p style="text-align:left;">
                        Firstly, make sure the coconut butter is melted before you begin. You should combine all ingredients in a blender or food processor, and blend until completely smooth into 2 cups. Secondly, omit the tofu, and decrease the coconut butter to 2 tbsp and the salt to 1/8 tsp. Then, add 1 cup cashews that have been soaked in water 4-6 hours and drained fully. Vanilla stays the same, and sweeten as desired. Lastly, add milk of choice if a thinner pudding is desired and serve immediately.
                    </p>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
