{% extends 'layout.html' %}
{% block title %}Healthy Recipe{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="../static/images/HealthyRecipe/carrotapplesalad.jpg" class="img-responsive" style="height:350px; width:350px;"/>
                </div>
                <div class="col-sm-5">
                    
                    <h2 class="section-header">Crunchy Carrot & Apple Salad</h2>
                    <br />
                    <p>Serves: 3 | Cooking Time: 15 mins</p>
                    <br />
                    <h3>Ingredients:</h3>
                    <ul style="text-align:left; padding-left:40px">
                        <li>2 tablespoons honey</li>
                        <li>2 tablespoons walnut oil</li>
                        <li>2 tablespoons fresh lemon juice</li>
                        <li>1 apple</li>
                        <li>2 carrots</li>
                        <li>1/2 cup walnut pieces</li>
                    </ul>
                    <br />
                    <h3>Method:</h3>
                    <ol style="text-align:left;">
                        <li>Core the apple and thinly sliced it.</li>
                        <li>Peel the carrots and cut into coins.</li>
                        <li>Toasted the walnuts for 5 mins.</li>
                        <li>In large bowl, whisk honey, oil and lemon juice.</li>
                        <li>Toss apple and carrots with dressing.</li>
                        <li>Sprinkle with walnuts into the salad bowl and serve immediately.</li>
                    </ol>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section>
{% endblock %}
