{% extends 'layout.html' %}
{% block title %}Scanner{% endblock %}

{% block head %}
    <style type="text/css">
        body {
            width: 100%;
            text-align: center;
        }

        img {
            border: 0;
        }

        #main {
            margin: 15px auto;
            background: white;
            overflow: auto;
            width: 100%;
        }

        #header {
            background: white;
            margin-bottom: 15px;
        }

        #mainbody {
            background: white;
            width: 100%;
            display: none;
        }

        #v {
            width: 320px;
            height: 240px;
        }

        #qr-canvas {
            display: none;
        }

        #qrfile {
            width: 320px;
            height: 240px;
        }

        #mp1 {
            text-align: center;
            font-size: 35px;
        }

        #imghelp {
            position: relative;
            left: 0px;
            top: -160px;
            z-index: 100;
            font: 18px arial, sans-serif;
            background: #f0f0f0;
            margin-left: 35px;
            margin-right: 35px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 20px;
        }

        .selector {
            margin: 0;
            padding: 0;
            cursor: pointer;
            margin-bottom: -5px;
        }

        #outdiv {
            width: 320px;
            height: 240px;
            border: solid;
            border-width: 3px 3px 3px 3px;
        }

        #result {
            border: solid;
            border-width: 1px 1px 1px 1px;
            padding: 20px;
            width: 70%;
        }

        ul {
            margin-bottom: 0;
            margin-right: 40px;
        }

{#        li {#}
{#            display: inline;#}
{#            padding-right: 0.5em;#}
{#            padding-left: 0.5em;#}
{#            font-weight: bold;#}
{#            border-right: 1px solid #333333;#}
{#        }#}

        li a {
            text-decoration: none;
            color: black;
        }

        #footer a {
            color: black;
        }

        .tsel {
            padding: 0;
        }

    </style>

    <script type="text/javascript" src="../static/js/scanner/llqrcode.js"></script>
    <script type="text/javascript" src="../static/js/scanner/plusone.js"></script>
    <script type="text/javascript" src="../static/js/scanner/webqr.js"></script>

{% endblock %}

{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<script>
        $(document).ready(function () {
            $('#report').show();
            $('#misuse').hide();
            $('input[type="radio"]').click(function () {
                if ($(this).attr('value') == 'faulty') {
                    $('#faulty').show();
                    $('#misuse').hide();
                }
                else {
                    $('#misuse').show();
                    $('#faulty').hide();
                }
            });
        });
    </script>

<div class="row">
    <div id="mainbody">
        <table class="tsel" border="0" width="100%">
            <tr>
                <td valign="top" align="center" width="50%">
                    <table class="tsel" border="0">
                        <tr>
                            <td><img class="selector" id="webcamimg" src="../static/images/vid.png" onclick="setwebcam()" align="left"/></td>
                            <td><img class="selector" id="qrimg" src="../static/images/cam.png" onclick="setimg()" align="right"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <div id="outdiv">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <div id="result"></div>
                </td>
            </tr>
        </table>
    </div>&nbsp;
</div>
<div class="row">
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="col-sm-12">
        <h2 class="section-header">Scanner</h2>
        <p class="lead text-muted">Please allow your device to use camera for your web browser. <br>
            <font size="2">*The QR scanner will not work on a computer.</font></p>

        <a href="#popup1" class="btn btn-info btn-lg">Enter Trolley ID</a>
        <div id="popup1" class="overlay">
            <div class="popup">
                <a href="#" class="close">&times;</a>
                <div align="center">
                    <p align="center">Please enter the trolley ID number.</p>
                    <div style="width: 50%" align="center">
                        <form class="form-horizontal" method="POST" action="/scanner">
                            {{ render_field(form.trolleyid, class_="form-control") }}
                            <input type="submit" name="action" value="Unlock" class="btn btn-info"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <a href="#popup2" class="btn btn-success btn-lg">Help</a>
        <div id="popup2" class="overlay">
            <div class="popup">
                <a href="#" class="close">&times;</a>
                <div>
                    <p align="center"><strong>Unlock -- Scan the QR code</strong></p>
                    <p align="center">Scan QR code on the trolley to unlock</p>
                    <p align="center"><strong>Unlock -- Enter trolley ID</strong></p>
                    <p align="center">Ensure you entered the correct Trolley ID</p>
                </div>
            </div>
        </div>

        <a href="#popup3" class="fancy-btn open btn btn-danger btn-lg">Report</a>
        <div id="popup3" class="overlay">
            <div class="popup" style="height:550px; overflow: auto;">
                <a href="#" class="close">&times;</a>
                <p align="center">Please fill in the report form accordingly</p>
                <form class="form-horizontal" method="POST" action="/scanner">
                    <div class="form-group col-md-6">
                        {{ render_field(reportform.trolleyid, class_="form-control") }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(reportform.reporttype, class_="radio-inline") }}
                    </div>
                    <div class="form-group col-md-12" id="faulty">
                        {{ render_field(reportform.faulty, class_="form-control") }}
                    </div>
                    <div class="form-group col-md-12" id="misuse">
                        {{ render_field(reportform.location, class_="form-control") }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ render_field(reportform.comments, class_="form-control") }}
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" name="action" value="Submit" class="btn btn-info"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<canvas id="qr-canvas" width="800" height="600"></canvas>
<script type="text/javascript">load();</script>

{% endblock %}




