{% extends 'layout.html' %}
{% block title %}Scanner{% endblock %}

{% block body %}
<!-- Content -->
<section class="content" style="background-color: #E6E6FA">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <input type=text size=16 placeholder="Trolley ID" class=qrcode-text><label class=qrcode-text-btn>
                <input type=file accept="image/*" capture=environment onclick="return showQRIntro();" onchange="openQRCamera(this);" tabindex=-1></label>
                <input type=button value="Go" disabled>
                <img class="img-responsive img center-block" src="../static/images/qrscanner.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-header">Scanner</h2>
                <p class="lead text-muted">Please allow your device to use camera for your web browser. <br><font size="2">*The QR scanner will not work on computer/laptops.</font></p>

                <a href="#popup1" class="btn btn-info btn-lg">Enter Trolley ID</a>
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <a href="#" class="close">&times;</a>
                        <div class="content" align="center">
                            <p align="center">Please enter the trolley ID number.</p>
                            <div style="width: 50%" align="center">
                                <form action="">
                                    <input type="number" name="bikeid"><br>
                                    <input align="center" type="submit" value="Unlock">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#popup2" class="btn btn-success btn-lg">Help</a>
                <div id="popup2" class="overlay">
                    <div class="popup">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <p align="center"><strong>Unlock -- Scan the QR code</strong></p>
                            <p align="center">Scan QR code on the trolley to unlock</p>
                            <p align="center"><strong>Unlock -- Enter trolley ID</strong></p>
                            <p align="center">Ensure you entered the correct Trolley ID</p>
                        </div>
                    </div>
                </div>

                <a href="#popup3" class="fancy-btn open btn btn-danger btn-lg">Report</a>
                <div id="popup3" class="overlay">
                    <div class="popup">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <button>Faulty Trolley</button>
                            <button>Report Misuse</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

    <script>
        function openQRCamera(node) {
            var reader = new FileReader();
            reader.onload = function() {
            node.value = "";
            qrcode.callback = function(res) {
              if(res instanceof Error) {
                alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
              } else {
                node.parentNode.previousElementSibling.value = res;
              }
            };
            qrcode.decode(reader.result);
            };
            reader.readAsDataURL(node.files[0]);
        }

        function showQRIntro() {
            return confirm("Use your camera to take a picture of a QR code.");
        }
    </script>

