{% extends 'layout.html' %}
{% block title %}Search{% endblock %}

{% block head %}
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
    </style>
{% endblock %}

{% block body %}
    <section class="content">
        <div class="container">
            <div class="row">
                <h2>Product Information Table</h2>

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a product" title="Type in a product name">

                <table id="myTable">
                    <thead>
                    <tr class="header">
                        <th style="width:25%;">Product Name</th>
                        <th style="width:15%;">Image</th>
                        <th style="width:15%;">Category</th>
                        <th style="width:15%;">Price</th>
                        <th style="width:15%;">Origin</th>
                        <th style="width:10%;"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in item_list %}
                        <tr>

                            <td>{{ item.get_name() }}</td>
                            <td><img src="../static/images/ProductItem/{{ item.get_image_name() }}" class="img-responsive"</td>
                            <td>{{ item.get_category() }}</td>
                            <td>{{ item.get_price() }}</td>
                            <td>{{ item.get_origin() }}</td>
                            <td><a href="/ourproduct" class="btn btn-warning">View</a></td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <script>
                    function myFunction() {
                        var input, filter, table, tr, td, i;
                        input = document.getElementById("myInput");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("myTable");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[0];
                            if (td) {
                                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                </script>
            </div>
        </div>
    </section>
{% endblock %}

        <!-- jQuery -->
        <script src="../static/js/jquery-1.11.3.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../static/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="../static/js/jquery.easing.min.js"></script>

        <!-- Custom Javascript -->
        <script src="../static/js/custom.js"></script>
