{% extends 'layout.html' %}
{% block title %}Signup{% endblock %}

{% block head %}

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href='../static/css/custom.css' rel = "stylesheet">

    <style type="text/css">

        body {
            background-color: #E6E6FA;
        }

        h3 {
            font-family: 'FontAwesome';
        }

    </style>

<br>
<br>
<br>
<br>
<br>
<br>

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

    <script src="../static/js/signup.js"></script>


{% endblock %}

{% block body %}

<form>
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>


    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label><b>Birthday</b></label>
    <input type="text" placeholder="Enter Birthday" name="birthday" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Password" name="psw-repeat" required>

    <label><b>Category</b></label>
    <input type="text" placeholder="Enter Category" name="category" required>

    <input type="checkbox" checked="checked"> Remember me
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>


    <div id="button">
         <a href="modifyuser.html">Sign Up Now</a>
    </div>

   </div>

 </form>

	<!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; myTrolley.tk 2017</p>
        	</div>
        </div>
        
    </footer>
{% endblock %}







