{% extends 'layout.html' %}
{% block title %}Signup{% endblock %}

{% block head %}
    <style>

        body {
            background-color: #E6E6FA;
        }

        h3 {
            font-family: 'FontAwesome';
        }

        #username {
            width: 200px;
        }

        #email {
            width: 300px;
        }

        #password {
            width: 200px;
        }

        .text-center {
            width: 1100px;
        }

        #container {
            width: 500px;
        }

    </style>

<br>

{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <section class="content">
    <div class="center">
        <h2 class="text-center">Sign Up Page</h2>
    </div>
    <br>
        <div id="container" class="container">

                <form action="" method="POST">

                    <div id="username" class="form-group">
                        {{ render_field(form.username, class_="form-control") }}
                    </div>
                    <div id="email" class="form-group">
                        {{ render_field(form.email, class_="form-control") }}
                    </div>
                    <div id="password" class="form-group">
                        {{ render_field(form.password, class_="form-control") }}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-info"/>
                    </div>
                </form>

        </div>
    </section>

{% endblock %}

            <!-- jQuery -->
            <script src="../static/js/jquery-1.11.3.min.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="../static/js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="../static/js/jquery.easing.min.js"></script>

            <!-- Custom Javascript -->
            <script src="../static/js/custom.js"></script>







