{% extends 'layout.html' %}
{% block title %}Modify User{% endblock %}

{% block head %}
    <style>

    .selector {
        margin: 0;
        padding: 0;
        cursor: pointer;
        margin-bottom: -5px;
        width: 200px;
        height: 40px;
    }

    </style>
{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <section class="content">

         <div class="container">
             <div class="center">
                 <h2 class="text-center">Edit Info</h2>
             </div>
                 <div class="profile"><p align="left">Profile:
                                 <div class="name">{{ render_field(form.username, class_="form-control") }}<br>
                                     <a href="">Change your username</a><br><br>
                                         <div class="email">{{render_field(form.email, class_="form-control")}}<br>
                                             <a href="">Change email address</a><br><br>
                                                 <div class="password">{{ render_field(form.password, class_="form-control") }}<br>
                                                     <a href="">Change password</a><br>
                                                 </div>
                                         </div>
                                 </div>
                             </div>
                     </div>
                 </div>
         </div>
    </section>

{% endblock %}

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>

