{% extends 'layout.html' %}
{% block title %}View Profile{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}














{% endblock %}

    <!-- jQuery -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="../static/js/custom.js"></script>
