<!--time=0-20min,
difficulty_level=1,
body_focus=Total-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/P8DOZRtIIEQ?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">15 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">45-105</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">1/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Pilates, Warm Up/Cool Down, Yoga/Flexibility</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/u5Hr3rNUZ24?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">5 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">14-21/span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">1/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Warm Up/Cool Down, Yoga/Flexibiity</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/5oj9-4ZQes4?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">12 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">40-65</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">1/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Warm Up/Cool Down, Yoga/Flexibility</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}


