<!--time=0-30min,
difficulty_level=3,
body_focus=Core-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/5uOcLQTHPbA?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">27 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">120-288</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Bench, Dumbbell</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Strength Training</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/6PXO5Y7M8v8?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">10 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">40-80</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Barre, Low Impact, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/uB_ejT_DgUM?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">25 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">160-220</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}


