<!--time=0-20min,
difficulty_level=3,
body_focus=Total-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/fKGmGhU6NNk?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">16 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">109-186</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, HITT</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed//nNe1p2uPt_g?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">20 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">185-245</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="600" height="300" src="//www.youtube.com/embed/JygaGSCd_Ic?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">11 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">95-130</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}


