<!--time=0-20min,
difficulty_level=2,
body_focus=Core-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/0PXRL5RhNok?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">17 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">51-85</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Pilates, Yoga/Flexibility</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/0CQ7riVMNJc?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">10 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">42-77</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Pilates, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/VULt--bcWd0?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
            <h2 class="heading -x-small caps-half demi details">Workout Details</h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">14 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">12-49</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">1/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Warm Up/Cool Down, Yoga/Flexibility</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}
