<!--time=0-30min,
difficulty_level=2,
body_focus=Total-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
    <style>
    .show-header{
        text-align: center;
        padding-top: 1cm;
        padding-bottom: 1cm;
    }
    .details-list {
        display: inline-block;
        width:200px;
        margin:0 auto;
        text-align:left;
    }
    .grey {
        background-color: #E6E6FA;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="grey">
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/A2jill_Lf0Y?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Body Firming HIIT Workout for Beginners - Beginner HIIT Home Workout Routine</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">22 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">152-252</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed//bSZj19AUU5I?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Low Impact Cardio Workout for Beginners</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">30 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">210-330</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Dumbbell, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, Low Impact, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/AoZsTarI9uA?rel=0&&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Beginner Boot Camp Workout - Easy Toning & Low Impact Cardio Workout</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">22 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">115-184</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Dumbbell, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, Low Impact, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

{% endblock %}


