<!--time=0-20min,
difficulty_level=3,
body_focus=Core-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
    <style>
    .show-header{
        text-align: center;
        padding-top: 1cm;
        padding-bottom: 1cm;
    }
    .details-list {
        display: inline-block;
        width:200px;
        margin:0 auto;
        text-align:left;
    }
    .grey {
        background-color: #E6E6FA;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="grey">
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/jQNcgZ1Y3rA?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>20 Minute Home Abdominal Workout</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">20 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">100-210</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Strength Training, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/qtZtZDdj_80?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Pilates Butt and Thigh Workout For a Round Butt</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">16 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">64-112</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Pilates, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/NbQyWph-aBI?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Sayonara Saddlebags 20 Minute Outer Thigh Workout - Outer Thigh Exercises</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">20 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">150-230</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

{% endblock %}
