<!--time=0-30min,
difficulty_level=2,
body_focus=Core-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
    <style>
    .show-header{
        text-align: center;
        padding-top: 1cm;
        padding-bottom: 1cm;
    }
    .details-list {
        display: inline-block;
        width:200px;
        margin:0 auto;
        text-align:left;
    }
    .grey {
        background-color: #E6E6FA;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="grey">
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/6PIVgUe6z3E?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Beginner Exercises for Balance - 15 Minute Beginner Balance Workout</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">15 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">75-110</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, Physio-Ball</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Balance/Agility</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/YMwi_eDYG9U?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Upper and Lower Back Workout - At Home Back Exercises to Tone & Strengthen</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">25 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">165-210</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Dumbbell, Physio-Ball</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/suNj0eeFftw?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Leg Slimming Pilates Butt and Thigh Workout</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">18 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">90-160</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">2/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Pilates, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

{% endblock %}


