{% extends 'layout.html' %}
{% block title %}Workout{% endblock %}

{% block head %}
<style>
		h1 {
			text-align: center;
		}
        .form-arrangement{
            margin:0 auto;
            width: 50%;
            text-align:left;
        }
        h3{
            margin-top: 0;
			text-align: center;
			height: 100px;
			width: 100%;
            line-height: 100px;
            color:darkorange;
        }
        .grey{
            background-color: #E6E6FA;
            padding-top: 2cm;
            padding-bottom: 3cm;
        }
        .btn{
           width:15%;
           float: right;
        }
        #time{
            width:300px;
        }
        #body_focus{
            width:300px;
        }
</style>
{% endblock %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <div class="grey">
        <h1>Workout Generator</h1>
        <h3>Answer 3 simple questions to find your ideal workout!</h3>
    <div class="form-arrangement">
        <form method="POST" action="">
            <div class="form-group" id="time">
                <!--time-->
                {{ render_field(form.time, class_="form-control") }}
            </div>
            <div class="form-group">
                <div class="form-row">
                    <!--difficulty_level-->
                    {{ render_field(form.difficulty_level, class_="radio-inline") }}
                </div>
            </div>
            <div class="form-group" id="body_focus">
                <!--body_focus-->
                {{ render_field(form.body_focus, class_="form-control") }}
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    </div>

{% endblock %}

            <!-- jQuery -->
            <script src="../static/js/jquery-1.11.3.min.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="../static/js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="../static/js/jquery.easing.min.js"></script>

            <!-- Custom Javascript -->
            <script src="../static/js/custom.js"></script>

