<!--time=0-10min,
difficulty_level=3,
body_focus=Core-->
{% extends 'layout.html' %}
{% block title %}Workout_Qn{% endblock %}

{% block head %}
    <style>
    .show-header{
        text-align: center;
        padding-top: 1cm;
        padding-bottom: 1cm;
    }
    .details-list {
        display: inline-block;
        width:200px;
        margin:0 auto;
        text-align:left;
    }
    .grey {
        background-color: #E6E6FA;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="grey">
    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/ZjGdlbsVGrs?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>10 Minute Abs Workout - Pilates Abs Burner</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">10 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">40-80</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Pilates, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/biiXlQHjt-g?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Cardio Kickboxing and Core Workout</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">10 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">80-140</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Cardiovascular, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="show-header">
    <div class="container -flush">
      <div class="media">
        <div class="responsive-video"><iframe width="700" height="394" src="//www.youtube.com/embed/jCaF4Gm67io?rel=0&amp;&showinfo=0" frameborder="0" allowfullscreen="1"></iframe></div>
      </div>
        <h1>Quick Abs and Obliques Workout Video - At Home Abs Workout</h1>
      <div class="info has-actions">
        <div class="video-details-wrapper video-detail-wrapper">
          <div class="video-details">
              <h2 class="heading -x-small caps-half demi details"><u>Workout Details</u></h2>
            <div class="stats">
              <ul class="details-list">
                <li>
                  <span class="detail-header">Duration:</span>
                  <span class="detail-value demi">9 Minutes</span>
                </li>
                <li>
                  <span class="detail-header">Calorie Burn:</span>
                  <span class="detail-value demi">28-56</span>
                </li>
                <li>
                  <span class="detail-header">Difficulty:</span>
                  <span class="detail-value demi">3/5</span>
                </li>
                <li>
                  <span class="detail-header">Equipment:</span>
                  <span class="detail-value demi">Mat, No Equipment</span>
                </li>
                <li>
                  <span class="detail-header">Training Type:</span>
                  <span class="detail-value demi">Low Impact, Toning</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>

{% endblock %}
